.header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.button {
  font-weight: 700;
  margin-right: 1.5rem;
  padding: 5px 10px 5px 10px;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  color: grey;
  text-decoration: none;
  transition: color 0.3s ease;
  align-self: start;
}

.button:visited {
  text-decoration: none;
}

.button:hover {
  color: #0070f3;
  text-decoration: none;
}

.button:active {
  background-color: #0070f3;
  color: white;
  text-decoration: none;
}

.hamburgerMenu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem 1.5rem;
}

.hamburgerIcon {
  width: 2rem;
  height: 2rem;
  color: grey;
  text-decoration: none;
  transition: color 0.2s ease;
}

.hamburgerIcon:hover {
  color: #0070f3;
  cursor: pointer;
}

.hamburgerIcon:active {
  color: black;
  cursor: pointer;
}

.menuItems {
  display: none;
}

@media (max-width: 750px) {
  .header {
    display: none;
  }

  .hamburgerMenu {
    display: block;
  }

  .menuItems {
    display: flex;
    justify-content: center;
    padding: 0 0 2rem 0;
  }
}
