.list {
  list-style: none;
  line-height: 1;
  padding: 0;
}

.list a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.list a:visited {
  text-decoration: none;
}

.list a:hover {
  text-decoration: none;
  color: #153dcf;
}

.list h2 {
  margin: 1rem 0 1rem 0;
}

.list h4 {
  color: gray;
  font-weight: normal;
  margin: 1rem 0 2rem 0;
}

.listItem {
  margin-top: 3rem;
}
